altair==5.0.1
cssselect==1.1.0
cycler==0.12.1
decorator==4.4.2
entrypoints==0.3
geocoder==1.38.1
geoip2==4.2.0
gitdb==4.0.10
GitPython==3.1.31
ip2geotools==0.1.5
IP2Location==8.6.2
Jinja2==2.11.2
markdown-it-py==3.0.0
numpy==1.24.4
pandas==1.0.3
streamlit==1.23.1
geopy
