import streamlit as st

def main():
    # CSS styles
    body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem; /* Use rem or em for relative sizing */
  font-weight: bold;
  color: #007bff;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}


    # Embed CSS styles using HTML
    st.markdown(css_styles, unsafe_allow_html=True)

    # Rest of your Streamlit app code...

if __name__ == "__main__":
    main()
